@font-face {
	font-family: 'BluuNextCyrillic';
	src: url('../../fonts/Bluu\ Next\ Cyrillic.ttf') format('ttf'),
	     url('../../fonts/Bluu\ Next\ Cyrillic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}